.uno {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;


}
<body> 
background-color: #FFFFF0;


h1 {text-align: center; background-color: blue; color: white;}

h2 {text-align: center; background-color: red; color: white;}
  
h2 {text-decoration: underline; color: blue; }

   

